<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Listado_ejercicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listado_ejercicios</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card *ngFor="let item of ejercicios">
      <ion-card-header>
        <ion-card-title>{{ item.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Código:</strong> {{ item.codigo }}</p>
        <p><strong>Unidad de Medida:</strong> {{ item.unidad_medida }}</p>
        <p><strong>Fecha:</strong> {{ item.fecha | date:'short' }}</p>
        <p><strong>Valor:</strong> {{ item.valor | number:'1.2-2' }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- 
  API NO LOGRADA 
  <ion-list>
    <ion-card *ngFor="let item of ejercicios">
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Código:</strong> {{ item.type }}</p>
        <p><strong>Unidad de Medida:</strong> {{ item.muscle }}</p>
        <p><strong>Unidad de Medida:</strong> {{ item.equipment }}</p>
        <p><strong>Unidad de Medida:</strong> {{ item.difficulty }}</p>
        <p><strong>Unidad de Medida:</strong> {{ item.instructions }}</p>        
      </ion-card-content>
    </ion-card>     
  </ion-list>
  -->


  <div class="Estilo_botones">
    <!--Boton para ir a HOME-->
    <ion-button fill="outline" color="secondary" (click)="IraHome()">IR A HOME
      <ion-icon name="barbell-outline"></ion-icon>
    </ion-button>

    <!--Boton para SALIR-->
    <ion-button fill="outline" color="secondary" (click)="salir()">SALIR
      <ion-icon name="log-in-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>