ion-card{ // Clase creada para el card del login y que se haga transparente
    background-color: transparent;
}

ion-card-title h3{ // Clase creada para el titulo del card del login
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    
}

.logo{ // Clase creada para el logo del login
    max-width: 30%; // Tamaño del logo
    height: auto; // Altura del logo
}

/* Estilos viñetas pie de pagina */
.vinetas{
    color: rgb(250, 245, 245);
    font-size: 20px; //Tamaño de la letra
    font-weight: bold;//Negrita
    text-align: center;//Centrado
    margin-top: 7%;//Margen superior
}