<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">MueveteAPP</ion-title>
    <p class="ion-text-center">Todo comienza con un paso</p>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SkeletonAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-text-center cuerpo_page"> <!--cuerpo_login es una clase creada en login.page.scss-->

    <ion-card>
      <ion-card-title>
        <h3>¡Bienvenido!</h3>
      </ion-card-title>

      <!--Logo de la app-->
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <div class="logo-container">
            <img class="fire-logo" src="assets/Logo3.webp" alt="Logo de la app" />
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!--Datos para el login-->
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="usuario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="Password" [(ngModel)]="password"></ion-input>
        </ion-item>

      </ion-card-content>

      <!-- Boton para ingresar con icono -->
      <ion-button expand="block" color="primary" (click)="login()">
        Ingresar
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>

      <!-- Boton para crear cuenta con icono -->
      <ion-button expand="block" color="secondary" (click)="CrearCuenta()">
        Crear Cuenta
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>


      <!--Barra de progreso-->
      <ion-progress-bar [value]="progress"></ion-progress-bar>

      <!--
      Mensaje de session activa
      <div>{{mensaje}}</div>
                                 -->





    </ion-card>



    <div class="vinetas">
      <ion-icon name="walk-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="bicycle-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="barbell-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="body-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="pulse-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="fitness-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="flame-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="heart-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="nutrition-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="walk-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="bicycle-outline" style="font-size: 3rem;"></ion-icon>
    </div>



  </div>


</ion-content>