
/* Estilos Globales */
.cuerpo_page{ // Clase creada para el fondo del login
    background: radial-gradient(circle, #1ef00b 0%, #0fcfc5 100%);
     height: 5000vh;//Altura de la pagina
     padding-top: 50%;//Margen superior
  }

