<ion-header [translucent]="true">
  <ion-toolbar>

    <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
      <!-- Boton para ir a HOME con icono -->
      <ion-button fill="outline" color="secondary" (click)="IraHome()">
        HOME
        <ion-icon slot="end" name="home"></ion-icon>
      </ion-button>

      <!-- Titulo de la pagina, centrado entre ambos botones -->
      <ion-title style="text-align: center; flex: 1;">Camara</ion-title>

      <!-- Boton para SALIR con icono -->
      <ion-button fill="outline" color="secondary" (click)="salir()">
        SALIR
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic Capacitor Camera Example</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" (click)="takePicture()">¡Sacate una foto!</ion-button>

  <ion-card *ngIf="photo">
    <ion-card-header>
      Captured Photo
    </ion-card-header>
    <ion-card-content>
      <img [src]="photo" *ngIf="photo" width="100%">
    </ion-card-content>
  </ion-card>

  

</ion-content>