.custom-label { //funcion que se encarga de bajar el placeholder para que no se vea encimado con el texto del input
    margin-bottom: 10px;
}

.logo{ // Clase creada para el logo del login
    max-width: 5%; // Tamaño del logo
    height: auto; // Altura del logo
    margin-left: 46%; //Margen izquierdo
    margin-top: -8%;

  }
