<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tab2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab2</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>
  <br>
  <ion-text color="secondary" class="ion-text-center">
    <h2>¡CREA AQUI TU RUTINA!
      <ion-icon name="Flame"></ion-icon>
    </h2>
  </ion-text>

  <ion-card-content>

    <ion-item>
      <ion-label position="floating">Nombre de la rutina</ion-label>
      <ion-input #nombreRutinaInput type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tipo de rutina</ion-label>
      <ion-input #tipoRutinaInput type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Duracion de la rutina</ion-label>
      <ion-input #duracionRutinaInput type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dias de la semana</ion-label>
      <ion-input #diasRutinaInput type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ejercicios</ion-label>
      <ion-input #ejerciciosRutinaInput type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Repeticiones</ion-label>
      <ion-input #repeticionesRutinaInput type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Series</ion-label>
      <ion-input #seriesRutinaInput type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descanso</ion-label>
      <ion-input #descansoRutinaInput type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Observaciones</ion-label>
      <ion-input #observacionesRutinaInput type="text"></ion-input>
    </ion-item>

    <BR>
    <BR>

    <ion-button routerLink="/tabs/tab3" style="display: flex; justify-content: center; align-items: center;"> <!--routerLink es una propiedad de ionic que permite redirigir a otra pagina TAB-->
      Añadir Rutina
      <ion-icon name="duplicate"></ion-icon>
    </ion-button>

    <BR>

    <div style="display: flex; justify-content: center; align-items: center;">
      <ion-icon name="walk-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="bicycle-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="barbell-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="body-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="pulse-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="fitness-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="flame-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="heart-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="nutrition-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="walk-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="bicycle-outline" style="font-size: 3rem;"></ion-icon>
    </div>

  </ion-card-content>

</ion-content>