/* En tu archivo home.page.scss o un archivo CSS correspondiente */
.anadir_rutina {
    display: flex;
    justify-content: center;
    margin-top: 20%;
  }

  .logo{ // Clase creada para el logo del login
    max-width: 5%; // Tamaño del logo
    height: auto; // Altura del logo
    margin-left: 46%; //Margen izquierdo
    margin-top: -6%;

  }
  