<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tab1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab1</ion-title>
     
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-chip> <!--Chip es un componente de ionic que permite mostrar una imagen y un texto-->
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>INTEPOLAR DATOS DE NOMBRE USUARIO</ion-label>
    </ion-chip>

    <ion-item>


    </ion-item>

  </ion-card>



</ion-content>