<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tab3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab3</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>
  <br>
  <ion-text color="secondary" class="ion-text-center">
    <h1>Mis rutinas
      <ion-icon name="barbell-outline"></ion-icon>
    </h1>
  </ion-text>

  <ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Rutina 01</ion-card-title>
        <ion-card-subtitle>Descripcion de Rutina 01</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Observaciones de la rutina 01
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Rutina 02</ion-card-title>
        <ion-card-subtitle>Descripcion de Rutina 02</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Observaciones de la rutina 02
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Rutina 03</ion-card-title>
        <ion-card-subtitle>Descripcion de Rutina 03</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Observaciones de la rutina 03
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Rutina 04</ion-card-title>
        <ion-card-subtitle>Descripcion de Rutina 04</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Observaciones de la rutina 04
      </ion-card-content>
    </ion-card>
    
  </ion-card-content>

</ion-content>