<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tab3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-content class="cuerpo_page">

    <ion-text color="secondary" class="ion-text-center">
      <h1>Mis rutinas
        <ion-icon name="barbell-outline"></ion-icon>
      </h1>
    </ion-text>

    <!--Logo de la app-->
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="logo">
          <img class="logo" src="assets/Logo3.webp" />
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Rutina: {{nombreRutinaPersistente}}</ion-card-title>
        <ion-card-subtitle>Descripcion de Rutina 01</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>Tipo de rutina: {{tipoRutinaPersistente}}</p>
        <p>Duracion de la rutina: {{duracionRutinaPersistente}}</p>
        <p>Dias de la semana: {{diasRutinaPersistente}}</p>
        <p>Ejercicios: {{ejerciciosRutinaPersistente}}</p>
        <p>Repeticiones: {{repeticionesRutinaPersistente}}</p>
        <p>Series: {{seriesRutinaPersistente}}</p>
        <p>Descanso: {{descansoRutinaPersistente}}</p>
      </ion-card-content>
    </ion-card>

    <!--Imagen de BV-->
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <img class="IMG_BYE imagen-animada" src="assets/Frase02.jpg" />
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="vinetas">
      <ion-icon name="walk-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="bicycle-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="barbell-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="body-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="pulse-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="fitness-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="flame-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="heart-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="nutrition-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="walk-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="bicycle-outline" style="font-size: 3rem;"></ion-icon>
    </div>

  </ion-card-content>

</ion-content>