<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tab3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab3</ion-title>
    </ion-toolbar>
  </ion-header>

 


  <ion-card-content class="cuerpo_page">

    <ion-text color="secondary" class="ion-text-center">
      <h1>Mis rutinas
        <ion-icon name="barbell-outline"></ion-icon>
      </h1>
    </ion-text>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Rutina: {{recibe_tab2_nombreRutina}}</ion-card-title>
        <ion-card-subtitle>Descripcion de Rutina 01</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <p>Tipo de rutina: {{recibe_tab2_tipoRutina}}</p>
        <p>Duracion de la rutina: {{recibe_tab2_duracionRutina}}</p>
        <p>Dias de la semana: {{recibe_tab2_diasRutina}}</p>
        <p>Ejercicios: {{recibe_tab2_ejerciciosRutina}}</p>
        <p>Repeticiones: {{recibe_tab2_repeticionesRutina}}</p>
        <p>Series: {{recibe_tab2_seriesRutina}}</p>
        <p>Descanso: {{recibe_tab2_descansoRutina}}</p>
      </ion-card-content>
    </ion-card>

    <div style="display: flex; justify-content: center; align-items: center;">
      <ion-icon name="walk-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="bicycle-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="barbell-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="body-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="pulse-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="fitness-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="flame-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="heart-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="nutrition-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="walk-outline" style="font-size: 3rem;"></ion-icon>
      <ion-icon name="bicycle-outline" style="font-size: 3rem;"></ion-icon>
    </div>
          
  </ion-card-content>

</ion-content>