<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MueveteAPP</ion-title>
  </ion-toolbar>


</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hola</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="cuerpo_page">

    <ion-chip> <!--Chip es un componente de ionic que permite mostrar una imagen y un texto-->
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>{{usuarioRebidoPersistente}}</ion-label>
    </ion-chip>


    <!--Logo de la app-->
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <img class="logo" src="assets/Logo3.webp" />
        </ion-col>
      </ion-row>
    </ion-grid>





    <ion-card-content> <!--Todos los item deben estar dentro de un card-content-->


      <ion-card-title>

        <h3>REGISTRO</h3>
        <h4>¡Completa tus datos!</h4>

      </ion-card-title>

      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="text" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input #nombreInput type="text" [(ngModel)]="nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Peso</ion-label>
        <ion-input #pesoInput type="text" [(ngModel)]="peso"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Estatura</ion-label>
        <ion-input #estaturaInput type="text" [(ngModel)]="estatura"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Sexo</ion-label>
        <ion-input #sexoInput type="text" [(ngModel)]="sexo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" class="right-label">Edad</ion-label>
        <ion-input type="number" [(ngModel)]="edad"></ion-input>
      </ion-item>



      <!-- Botones de acción -->
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" color="warning" (click)="LimpiarDatos()">
              <ion-icon name="trash" slot="start"></ion-icon>
              Limpiar
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="success" (click)="MostrarDatos()">
              <ion-icon name="eye-outline" slot="start"></ion-icon>
              Mostrar Datos
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Botón para guardar datos -->
      <ion-button expand="block" color="primary" (click)="guardar()">
        <ion-icon name="save-outline" slot="start"></ion-icon>
        Guardar Datos
      </ion-button>

      <!-- Botón para salir -->
      <ion-button fill="outline" color="danger" (click)="CerrarSesionHome()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        SALIR
      </ion-button>

      <!-- Botón para ir a HOME -->
      <ion-button fill="outline" color="tertiary" (click)="IrTab1()">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        IR A HOME
      </ion-button>
      
    </ion-card-content> <!--Todos los item deben estar dentro de un card-content-->

  </div>
</ion-content>